============ Datathon INSTRUCTIONS and INFORMATION ============

Challenge: SkyHigh Books want to know in 2018 what readers will rate their books that they publish. You are given data from 2017, where you know what readers read and what rating each user provided on average to all books they read.

Your job is 4 fold:

Predict what readers will rate on average in 2018 on all books they will read in 2017 + 2018. Use the wishlist of books readers want to read in 2018 and what they have already read in 2017 as a starting point. SkyHigh Books wants to know this information, as they want to market directly to readers who either have higher potential average scores on all books, or lower scores.

SkyHigh Books wants to know why some books in 2017 or 2018 (predict which books) have good or bad overall ratings. Is it certain words in the book? The genre of the book? The price in 2017 / 2018? Where it was sold? Why do some books on average have a higher rating than other books?

SkyHigh Books wants to maintain a good online presence on book review sites (hence we want to predict user averages), and so they want you to tell them how they can lift overall global reader satisifcation (not just each individual user, but overall).

Provide confidence bounds on your predictions. How much % are you sure your predictions are true or correct? Is the results plausible? Does the data seem plausible? (Ie do the word count follow some Power Law Distribution?)

**Datasets**

You are provided with 6 datasets:

1. **Books Information**
2. **Genres Mapping**
3. **User Data**
4. **Words in Book**
5. **Words Mapping**
6. **Example Submissions**

------

1. **Books Information** Actual info on books. Book ID, Barcode, difficulty (average *perceieved* reading difficulty of book --> 1 = easy, 5 = hard).
2. **Genres Mapping** Maps Genre IDs to real Genre types (eg Science)
3. **User Data** User's data on average ratings and what they read in 2017 + wishlist for 2018.
4. **Words in Book** What are the words in the actual book.
5. **Words Mapping** Actual words mapped to word ID
6. **Example Submissions** Shows an example of what you need to provide.

In [22]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'surprise'

In [3]:
## loading data
book_info = pd.read_csv('Books information.csv')
genre_map = pd.read_csv('Genres Mapping.csv')
user_data = pd.read_csv('User Data.csv')
# words_in_book = pd.read_csv('Words in Books Data.csv')
words_map = pd.read_csv('Words Mapping.csv')

In [10]:
train_df = user_data[['User ID', 'User Read Books (2017)', 'Average Rating (2017)']]
train_ar = [[a[0], int(b), float(a[2])] for a in train_df.values for b in a[1].split(', ')]
user_book_rate = pd.DataFrame(train_ar, columns=train_df.columns)

In [20]:
test_df = user_data[['User ID', 'User Read Books (2018)']]
test_ar = [[a[0], int(b)] for a in test_df.values for b in a[1].split(', ')]

In [21]:
test_df

          User ID                             User Read Books (2018)
0     ID790145788                                               7180
1     ID646234447                       5729, 5279, 6242, 5519, 5251
2      ID86918707                                         6372, 6697
3     ID404262345                                   5023, 6412, 6124
4     ID267634255     7915, 7884, 7404, 6022, 6589, 6543, 5450, 6848
5     ID424329114                                               5871
6      ID83021177                                         7736, 6456
7     ID852246012                                   5855, 7515, 5247
8     ID433102103                                               7647
9     ID119279621                                   7597, 6875, 6879
10    ID245262879                       5322, 5362, 6371, 5543, 7128
11    ID404565396  7651, 7071, 5212, 6525, 5199, 6618, 7415, 5758...
12    ID133306364                                   7428, 7748, 6381
13    ID448999244                       7328, 6794, 6742, 5725, 6046
14    ID796879434                       6779, 6959, 5062, 6172, 5238
15    ID583235318                                   7454, 5495, 7522
16    ID214070377                                   5962, 5770, 7593
17    ID995803338                                               5625
18    ID726770277                       6053, 6471, 5265, 7101, 7623
19    ID626001956                                   6491, 7610, 6449
20     ID22168844                       6131, 5987, 7380, 5206, 5973
21    ID515097308                                               5554
22    ID754464922                                   7792, 5531, 5206
23    ID639245964                             7731, 7718, 6121, 5123
24    ID125587121                                         7114, 7985
25    ID495700605                                               7633
26    ID287812081                                               6937
27    ID871640606                       5484, 7550, 6713, 5576, 5772
28    ID705726027                                               6344
29    ID896392883                                               7417
...           ...                                                ...
9970  ID456851382                       7228, 6915, 6177, 5572, 7626
9971  ID599983656                                   7426, 6837, 7663
9972  ID837677059                                         6866, 5624
9973   ID24569089                                               5176
9974  ID783282136     5361, 5921, 5037, 7298, 5106, 6030, 7399, 6092
9975  ID836346254                                               5402
9976  ID820764192                                         5326, 6533
9977  ID704459800                                   6491, 7311, 6317
9978  ID630413989                       7034, 6517, 6244, 5817, 7611
9979   ID90320100                                               6180
9980  ID374428349                       7986, 6379, 5351, 7318, 5854
9981   ID15839927                       5426, 5441, 5777, 5213, 6960
9982  ID967428169                                   6252, 7377, 7529
9983  ID814336288                       5890, 5268, 5749, 6946, 6705
9984  ID963961176                                   7031, 7534, 7598
9985  ID104091954                                         6565, 5631
9986  ID385404387                                   7573, 6245, 7176
9987  ID461643526                                               5103
9988   ID31119368                       5164, 6291, 5108, 5981, 6675
9989  ID536612839                                               5961
9990  ID819328013                 6446, 5576, 5048, 6536, 5960, 5588
9991  ID537725701                                               6539
9992  ID202483514                             6972, 6895, 7211, 6772
9993  ID540788686                                               5109
9994  ID453297180                                   7861, 6387, 5184
9995  ID403550595                             5600, 5269, 5737, 5411
9996  ID782671402                 5591, 6087, 6576, 5316, 7261, 5668
9997  ID820866916                                         7158, 7246
9998  ID195204236                                   5596, 7157, 7507
9999  ID257231817     7895, 7998, 5392, 5024, 6173, 6751, 6529, 6331

[10000 rows x 2 columns]

In [17]:
user_book_rate

           User ID  User Read Books (2017)  Average Rating (2017)
0      ID790145788                    6254               3.115447
1      ID646234447                    5854               3.157876
2      ID646234447                    5676               3.157876
3      ID646234447                    7265               3.157876
4      ID646234447                    6051               3.157876
5       ID86918707                    5815               1.512284
6      ID404262345                    6969               3.641681
7      ID404262345                    7002               3.641681
8      ID404262345                    5761               3.641681
9      ID267634255                    7908               2.506743
10     ID267634255                    7585               2.506743
11     ID267634255                    7655               2.506743
12     ID267634255                    5013               2.506743
13     ID267634255                    5352               2.506743
14     ID267634255                    7753               2.506743
15     ID267634255                    5793               2.506743
16     ID424329114                    6985               3.604108
17      ID83021177                    7279               2.694357
18      ID83021177                    7265               2.694357
19     ID852246012                    5963               4.866175
20     ID852246012                    6669               4.866175
21     ID852246012                    6695               4.866175
22     ID433102103                    5712               6.792115
23     ID119279621                    7670               5.472592
24     ID119279621                    6206               5.472592
25     ID119279621                    5359               5.472592
26     ID245262879                    6977               3.814152
27     ID245262879                    6134               3.814152
28     ID245262879                    5473               3.814152
29     ID245262879                    5135               3.814152
...            ...                     ...                    ...
25889  ID537725701                    5677               4.033973
25890  ID202483514                    5830               3.999450
25891  ID202483514                    6593               3.999450
25892  ID202483514                    5396               3.999450
25893  ID202483514                    5530               3.999450
25894  ID540788686                    7690               2.981904
25895  ID453297180                    7842               3.932608
25896  ID453297180                    5872               3.932608
25897  ID453297180                    7436               3.932608
25898  ID403550595                    5239               1.784960
25899  ID403550595                    6576               1.784960
25900  ID403550595                    6544               1.784960
25901  ID403550595                    7761               1.784960
25902  ID782671402                    5173               1.619375
25903  ID782671402                    7376               1.619375
25904  ID782671402                    7115               1.619375
25905  ID782671402                    6966               1.619375
25906  ID782671402                    6108               1.619375
25907  ID782671402                    5713               1.619375
25908  ID820866916                    5339               2.332334
25909  ID195204236                    5430               2.310394
25910  ID195204236                    6328               2.310394
25911  ID195204236                    5653               2.310394
25912  ID257231817                    7471               1.426808
25913  ID257231817                    5512               1.426808
25914  ID257231817                    7684               1.426808
25915  ID257231817                    5594               1.426808
25916  ID257231817                    6397               1.426808
25917  ID257231817                    6842               1.426808
25918  ID257231817                    7862               1.426808

[25919 rows x 3 columns]